## Requirements for PyQuCryptor

## PyCryptoDome for Encryption
pycryptodome

## CustomTkinter for GUI that is usable
customtkinter

## Pillow for GUI elements
pillow

## Requests for auto-update
requests

